.statusDot{
    animation: pulse 3s infinite ease-out;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 0px rgba(34, 197, 94, 0.7); 
    }
    50% {
        transform: scale(1.4);
        opacity: 0.7592;
        box-shadow: 0 0 15px rgba(34, 197, 94, 0.9); 
    }
    100% {
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 0px rgba(34, 197, 94, 0.7);
    }
    
}