.header {
  border: solid 2px #000;
  padding: 1em;
  text-align: center;
  font-family: 'Orbitron', Arial, Helvetica, sans-serif;
}

.navbar{
  font-family: "DM Mono", Arial, Helvetica, sans-serif;
  position: static;
  margin-left: auto;
  /* Use transitions for a smooth reveal */
  opacity: 0;
  transform: translateX(20px);
  pointer-events: none;
  transition: opacity 0.5s ease-in, transform 0.5s ease-out;
}

.open {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.navbar div{
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.navbar div ul {
  list-style: none;
  display: flex;
  justify-items: space-around;

}

button.open .bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

button.open .bar:nth-child(2) {
  opacity: 0;
}

button.open .bar:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

